*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    position: relative;
    min-height: 100vh;
    background: rgb(235, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 100px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    z-index: 1000;
}
.logo{
    max-width: 50px;
}
.nav{
    display: flex;
}
.nav li{
    list-style: none;
}
.nav li a{
    position: relative;
    color: #00704a;
    text-decoration: none;
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: 600;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .text{
    width: 100%;
    max-width: 600px;
}
.content .text h2{
    color: #00704a;
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
}
.content .text h2 .style{
    color: #1b1b1b;
    text-transform: lowercase;
    font-weight: 300;
}
.content .text p{
    color: #1b1b1b;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.3em;
    margin: 20px 0;
}
.btn{
    position: relative;
    display: inline-block;
    background-color: #00704a;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3em;
    margin-top: 40px;
    padding: 20px 30px;
    border-radius: 40px;
    font-weight: 500;
    transition: all .3s;
}
.btn:hover{
    transform: scale(1.2);
    transition: all .3s;
}
.social-media{
    position: relative;
    display: inline-block;
    font-size: 2em;
    margin-top: 40px;
    margin-left: 50px;
}
.fa{
    color: #00704a;
    padding: 10px;
}
.fa:hover{
    transform: scale(1.2);
    transition: all .3s;
}